<main class="main">
  <form class="js_form main__form" action="">
    <input type="text" name="" id="" class="js_input main__input" />
    <button class="js_btn main__btn">Search</button>
  </form>
  <section class="main__paint">
    <article class="main__paint--series">
      <h2 class="main__paint--series__title">Resultados</h2>
      <ul class="js_series main__paint--series__ul">
        <!-- Codigo generado desde JS -->

        <!-- Hasta aquí el código generado desde JS -->
      </ul>
    </article>
    <article class="main__paint--favorites">
      <input
        type="button"
        value="Reset"
        class="js_resetbtn main__paint--favorites__resetbtn"
      />
      <button class="js_logbtn">Log</button>
      <h2 class="main__paint--favorites__title">Series Favoritas</h2>
      <ul class="js_favorites main__paint--favorites__ul">
        <!-- Codigo generado desde JS -->

        <!-- Hasta aquí el código generado desde JS -->
      </ul>
    </article>
  </section>
</main>
