<main class="main">
  <form class="js_form main__form" action="">
    <input type="text" name="" id="" class="js_input main__input" />
    <button class="js_btn main__btn">Buscar</button>
  </form>
  <!-- <img src="./assets/images/frank.jpg" alt="" /> -->
  <section class="">
    <article class="list">
      <ul class="js_series">
        <!-- Codigo generado desde JS -->

        <!-- Hasta aquí el código generado desde JS -->
      </ul>
    </article>

    <article class="favorites">
      <h2 class="favorites__title">Mis series Favoritas</h2>
      <input
        type="button"
        value="Eliminar"
        class="js_resetbtn favorites__resetbtn"
      />
      <ul class="js_favorites">
        <!-- Codigo generado desde JS -->

        <!-- Hasta aquí el código generado desde JS -->
      </ul>
    </article>
  </section>
</main>
