.footer {
    &__text{
        font-size: 15px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #db202c;
        font-family: 'Oswald', sans-serif;
    }
  }
