.footer {
    &__text{
        background-color: #002b4f;
        font-size: 15px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ea4c89;
        
    }
  }
