.main {
	background-color: #002b4f ;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	min-height: 600px;
	&__form {
		display: flex;
		flex-direction: column;
		justify-content: center;
        align-items: center;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	&__input {
		width: 200px;
		background: white;
		border-radius: 30px;
		border: solid  #ea4c89;
		font-family: 'Pacifico', cursive;
		font-size: 16px;
        margin-bottom:25px ;
	}
	&__btn {
		width: 100px;
		height: 30px;
		border-radius: 30px;
		border: solid ;
		background-color:#ea4c89 ;
		color: white;
		text-decoration: none;
        font-family: 'Pacifico', cursive;
	}
	&__btn:hover {
		background-color: white;
        border: solid #ea4c89;
        color: #ea4c89;
	}

}

.list{ 
	display: flex;
		flex-direction: column;
		
		align-items: center;
		text-align: center;
		justify-content: center;
	
		&__item{
			
			background-color: white;
			width: 120px;
			height: 100px;
			margin-bottom: 10px;
			padding-bottom: 50px;
			padding-top: 20px;
			border-radius: 20px;
			&--img{
				width: 75px;
			height: 100px;
			
			}

			&--title{
				margin-top: 7px;
				color: #ea4c89;	
			}
		}
}



.favorites{
	display: flex;
		flex-direction: column;
		
		align-items: center;
		text-align: center;
		justify-content: center;
	&__title{
		color: #ea4c89;	
		font-size: 20px;
		margin-top: 20px;
		margin-bottom: 20px;
		
	}
	&__resetbtn{
		width: 100px;
		height: 30px;
		border-radius: 30px;
		border: solid ;
		background-color:#ea4c89 ;
		color: white;
		text-decoration: none;
        font-family: 'Pacifico', cursive;
		margin-bottom: 20px;
	}
	&__item{
		background-color: #35b2e4;
		width: 120px;
		height: 100px;
		margin-bottom: 10px;
		padding-bottom: 50px;
		padding-top: 20px;
		border-radius: 20px;
		&--img{
			width: 75px;
		height: 100px;
		
		}

		&--title{
			margin-top: 7px;
			color: #ea4c89;	
		}

	}
}

	


 .clicked{
	border: solid 5px #35b2e4;
 }


