.main {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	&__form {
		display: flex;
		flex-direction: column;
		justify-content: center;
        align-items: center;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	&__input {
		width: 350px;
		background: rgb(230, 229, 215);
		border-radius: 30px;
		border: solid  #db202c;
		font-family: 'Oswald', sans-serif;
		font-size: 16px;
        margin-bottom:25px ;
	}
	&__btn {
		width: 100px;
		height: 30px;
		border-radius: 30px;
		border: solid ;
		background-color: black;
		color: #db202c;
		text-decoration: none;
        font-family: 'Oswald', sans-serif;
	}
	&__btn:hover {
		background-color: #db202c;
        border: solid black;
        color: black;
	}
	&__paint {
		display: flex;
		flex-direction: row-reverse;
		margin-left: 35px;
		text-align: center;
		justify-content: center;
		font-family: 'Oswald', sans-serif;
  		width: 95%;
		&--series {
			border: solid #db202c;
			border-radius: 20px;
			margin-left: 35px;
			width: 50%;
			height: auto;
            &__title{
                color: #db202c;
                font-family: 'Oswald', sans-serif;
            }

			&__ul {
				display: flex;
				flex-wrap: wrap;
				padding: 25px 25px 25px 25px;
                
			}
			&__li {
				list-style: none;
				font-size: 20px;
			}
		}
		&--favorites {
			border: solid #db202c;
			border-radius: 20px;			
			padding-left: 15px;
			padding-right: 15px;
			display: flex;
			flex-direction: column;
			align-items: center;
			
            &__title{
                color: #db202c;
                font-family: 'Oswald', sans-serif;
			&__ul {
				padding: 25px 25px 25px 25px;
				
				
			}
			&__li {
				font-size: 20px;
				
			}
		}
	}
}

 .clicked{
	 border: solid blue;
 }
}