@font-face{
    font-family: "strangerfont";
    src: url("../assets/fonts/Benguiat.ttf");
 }
 
 body{
     background-color: black;
     text-align: center;
     color: red;
     font-family: "strangerfont";
 }
 